<!--Begin main container which holds the whole page-->
<div class="container">
  <!--Begin title div-->
  <div class="jumbotron" style="width:80%; margin:auto;">
    <h3 class="txt-primary" style="text-align: center;">The ALL-IN-ONE List</h3>
  </div> <!-- End title div-->
  <br>

  <!--Begin message div-->
    <div style="width:80%; margin:auto;">
      <span [hidden]="hideDuplicateMsg" class="text-secondary float-left"><p> {{duplicateMsg}}</span>
      <span [hidden]="hideValidDataMsg" class="text-danger float-left">{{validDataMsg}}</span>
      <span [hidden]="hideDelItemSuccessMsg" class="text-secondary float-left">{{delItemSuccessMsg}}</span>
      <span [hidden]="hideClearItemsMsg" class="text-secondary float-left">{{clearItemsMsg}}</span>
    </div> <!--End message div-->

  <!--Begin input textbox and button div-->
  <div class="input-group" style="width:80%; margin:auto;">
    <input type="text" class="form-control" id="listItem" placeholder="" aria-label="Enter item name" [(ngModel)]="listItem.name">
    <span>
      <button class="btn btn-primary" type="button" id="addListItemBtn" (click)="addListItem()">
        <i class="fas fa-cart-plus"></i>  
      </button>
    </span>
  </div> <!-- End input textbox and button div-->  
  
  <!-- BEGIN DISPLAY-->
  <!--Begin display div-->
  <div style="width:80%; margin:auto;">
    <br>
    <!--Begin no: of items and clear all div-->
    <div>
      <span *ngIf="list" class="text-secondary float-left"><b>
        Number of items in your list: {{list.length}}</b>
      </span>
      <button [hidden]="hideClearAllText" class="btn text-danger float-right hover-cursor" type="button" id="clearAllItemsBtn" (click)="clearAllItemsFromList()">
        {{clearAllText}}
      </button>
    </div> <!--End no: of items and clear all div-->
    <br>
    <br>
    <!--Begin Display of items in the form of list div-->
    <div>
      <!--Begin strikethrough info-->
      <div style="width:80%; margin:auto;">
        <p [hidden]="hideStrikeThroughMsg" class="text-info">
          <small>{{strikeThroughMessage}}</small>
        </p>
      </div><!--End strikethrough info-->
      <ul class="list-group" style="margin: auto;">
        <li class="list-group-item" *ngFor="let item of list">
        <span [ngClass]="{'strike': item.strike}">
            {{item.name}}
          </span>
          <span> 
            <button class="btn text-secondary float-right hover-cursor" type="button" id="strikeListItemBtn" (click)="strikeListItem(item)">
              <i class="fas fa-strikethrough"></i>
            </button>
          </span>
          <span>
            <button class="btn text-danger float-right hover-cursor" type="button" id="deleteListItemBtn" (click)="delListItem(item)">
              <i class="far fa-trash-alt"></i>
            </button>
          </span>
          <span>
            <button class="btn text-secondary float-right hover-cursor" type="button" id="editListItemBtn" (click)="editListItem(item)">
              <i class="fas fa-pencil-alt"></i>
            </button>
          </span>
        </li>
      </ul>
    </div> <!--End Display of items in the form of list div-->
    <br>
    
  </div> <!--End display div-->
</div> <!--End of container-->
